version: "3.9"

services:
  web:
    container_name: myweb-app
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./database.sqlite:/app/database.sqlite